body{
    margin: 0;
}

main{
    width: 80%;
    margin: auto;
}

header{
    background-color: yellowgreen;
    
}

main{

    background-color: #13678A;

}
main > header img:first-child{

    width: 50%;
    display: block;
    margin: auto;
    border-radius: 5px;
    outline: whitesmoke solid;

}

h1{
    text-align: center;
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.tarjeta{

    background-color: whitesmoke;
    display: block;
    margin: auto;
    text-align: center;
    color: #012030;
}



img.card-img{
    width: 65%;
    }


.fondo{
    background-color:#DAFDBA;
    height: 100%;
    
}
.nombre{
    font-size: 3rem;
    padding: 1rem;
    
    
}

.boton{

    padding: 0.5rem;
    margin: auto;
    text-align: center;
    
}

.boton button{
    color:  #012030;
    border-radius: 5px;
    padding: 0.5rem;
}